<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <%- include('../partials/head'); %>
</head>

<body>

<nav>
    <%- include('../partials/navbar'); %>
</nav>

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>